:root{
    /* Tokyonight theme darkmode colors */
    --dark-foregroud: #a9b1d6;
    --dark-background: #24283b;
    --dark-primary: #f7768e;
    --dark-orange: #ff9e64;
    --dark-yellow: #e0af68;
    --dark-green: #9ece6a;
    --dark-turqouise: #73daca; 
    --dark-light_blue: #b4f9f8;
    --dark-blue: #2ac3de;
    --dark-dark_blue: #7aa2f7;
    --dark-violet: #bb9af7;
    --dark-light_violet: #c0caf5;
    --dark-comments: #565f89;
    --dark-beige: #cfc9c2;


    /* Tokyonight theme lightmode colors */
    --light-foregroud: #343b58;
    --light-background: #d5d6db;
    --light-red: #8c4351;
    --light-orange: #965027;
    --light-yellow: #8f5e15;
    --light-green: #485e30;
    --light-turqouise: #33635c; 
    --light-light_blue: #166775;
    --light-blue: #0f4b6e;
    --light-dark_blue: #34548a;
    --light-violet: #bb9af7;
    --light-light_violet: #5a4a78;
    --light-comments: #565a6e;
    --light-beige: #634f30;

    --white: #fff;
    --black: #000;
}
 